<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
  </head>
  <body>
      <div id="Principal">

          <h2>Angel Gabriel Vegas Moreno</h2>
         <p>Estado Guarico, Ciudad San Juan De Los Morros, Municipio Rocio, Calle Junin, Casa N#32 </p>
         <p>vegasangel51@gmail.com,  Tel. 0424-3461013</p>
          <br/>
          <br/>
          <br/>
         <fieldset>
           <legend>Datos Personales</legend>
             <ul>
               <li>Fecha De Nacimiento: 09-22-1995</li>
               <li>Cedula: 23.951.923</li>
               <li>Nacionalidad: Venezolano</li>
               <li>Estado Civil: Soltero</li>
             </ul>
         </fieldset>
         <br/>
         <fieldset>
            <legend>Formacion Academica</legend>
               <ul>
                  <li>Estudios Primario: Esc. Jose Felix Ribas</li>
                  <li>Estudio Secundario: Liceo Jose Felix Ribas</li>
                  <li>Estudios Universitarios: Ingeneria En Sistema Informatico,Universidad Romulo Gallego (Actual)</li>
              </ul>
         </fieldset>
          <br/>
         <fieldset>
          <legend>Experiencia Laboral</legend>
           <ul>
              <li>Encargado de un Saiber</li>
              <li>Trabaje de Cajero</li>          
           </ul>
          </fieldset>
          <br/>
          <fieldset>
              <legend>Peliculas y Libros Favoritos</legend>
              <ul>
                  <li>Pelicula: El señor de los Anillos</li>
                  <li>Pelicula: Harry Potter</li>
                  <li>Libros: Cancion de Hielo y Fuego y La comunidad del Anillo</li>
              </ul>
            </fieldset>
            <br/>
            <fieldset>
                <legend>Redes Sociales</legend>
                <ul>
                    <li>facebook: elangel2370@hotmail.com</li>
                    <li>twitch: natsu2355</li>
                    <li>instagram: elangel2370@hotmail.com </li>
                </ul>
            </fieldset>
  
      </div>
  </body>
  </html>
  </body>
</html>

